<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ForumEntities" connectionString="metadata=res://*/ForumModel.csdl|res://*/ForumModel.ssdl|res://*/ForumModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\guy\Work\Weblitz.Mvc.Forum\Weblitz.Mvc.Forum.Web\App_Data\WeblitzMvcForum.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>